@model PawKarTIWypozyczalnia.Models.Film


<div>
    <table width="100%">
        <tr>
            <td width="20%">
                <h1>@Model.Kategoria.Name</h1>
                @await Component.InvokeAsync("CategoryFilmsMenu",new { categoryName = Model.Kategoria.Name})
            </td>
            <td width=20%>
                <img src="~/content/@Model.PosterName" height="300px" />
            </td>
            <td width="60%">
                <ul class ="list-group list-group-flush">
                    <li class=list-group-item>Tytuł: @Model.Title</li>
                    <li class=list-group-item>Reżyser: @Model.Director</li>
                    <li class=list-group-item>Opis: @Model.Desc</li>
                    <li class=list-group-item>Cena: @Model.Price</li>
                    <li class=list-group-item>Data dodania: @Model.Date</li>
                </ul>
            </td>
        </tr>
    </table>
</div>