@model PawKarTIWypozyczalnia.ViewModels.CategoryFilmsViewModel

@{
    ViewData["Title"] = Model.Category.Name;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table-bordered" style="width: 100%">
    <tr>
        @foreach (var film in Model.RecentFilms)
        {
            <td style="text-align:center;">
                <h2>@film.Title</h2>
                <img alt="Plakat filmu" src="~/content/@film.PosterName" width="200px" height="300px"/>
            </td>    
        }
    </tr>
</table>
<h1>@Model.Category.Name</h1>
<table class="table table-striped table-responsive table-bordered w-auto">
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Szczegóły</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model.CategoryFilms)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.Desc</td>
                <td>@film.Price</td>
                <td><a href="@Url.Action("Details","Films",new { filmId = film.Id})">&#128269</a></td>
                <td><a href="@Url.Action("AddToCart","Cart",new { Id = film.Id})">Koszyk</a></td>
            </tr>
        }
    </tbody>
</table>
