@model IEnumerable<PawKarTIWypozyczalnia.Models.Film>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h1 class="text-center">Wyszukiwane filmy</h1>
<table class="table table-striped table-responsive table-bordered w-auto">
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Szczegóły</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.Desc</td>
                <td>@film.Price</td>
                <td><a href="@Url.Action("Details","Films",new { filmId = film.Id})">&#128269</a></td>
            </tr>
        }
    </tbody>
</table>